/blatt1/aufgabe1/graph-coloring/cmake-build-debug/
/blatt1/aufgabe1/graph-coloring/build/
/blatt1/aufgabe1/graph-coloring/.idea/
/blatt1/aufgabe4/pytagorean-triplets/cmake-build-debug/
/blatt1/aufgabe4/pytagorean-triplets/build/
